test
<!--<p>
  Product component {{ product.name }} !
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Retail</th>
      <th>Days To Manufacture</th>
      <th>Purchase</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.name }}</td>
    </tr>
  </tbody>
</table>-->

